.color,
.color2,
.color3,
.color4,
.color5 {
  width: 10rem;
  height: 10rem;
  border: solid;
}
.color {
  border-color: brown;
}
#indhold {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}

#basecolor {
  width: 5rem;
  height: 5rem;
  border: none;
  padding: 0;
  margin: 0;
  background-color: none;
}
#theme {
  margin-bottom: 2rem;
}
